/* ν—¤λ”, ν‘Έν„° */

.nav-login {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}

.nav-login a {
  color: white !important;
}
/* ------------------------- */

body {
  background-image: url("/img/login_image.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

h2 {
  color: #007bff;
}

.form-label {
  font-weight: bold;
}

.btn-primary {
  background-color: #007bff;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}
