*{
    margin: 0;
    padding: 0;
}

/* timeschedule */
#time-button{
    background-color: rgb(253, 253, 253);
    font-size: 12px;
    border-radius: 5px;
}

/* 빠른예매 영역 */


/* 시간 설정 영역 */
.time-schedule{
background-color: aquamarine;
}
#time-button{
    font-size: 12px;
}


/* 영화 영역 */
.movie-reserve-area{
width: 350px;
height: 450px;

background-color: aqua;
}

.movie-select-botton{
    font-size: 10px;
  
}
.movie-select{

background-color: antiquewhite;
}

.list-area{
background-color: blueviolet;
}

.list-all{

background-color: blue;
}


/* 극장선택 */

.theater-choice{
background-color: yellow;
width: 350px;
height: 450px;
}


/* 시간 */
.time-choice{
background-color: coral;
width: 600px;
height: 450px;
}

.nav-item{
    font-size:  12px;
}

.reservation-container {
    display: flex; /* Flexbox를 사용 */
}

.movie-reserve-area{
    width: 300px; /* 원하는 너비 설정 */
    height: 450px; /* 원하는 높이 설정 */
    margin-right: 20px;
    margin-left: 70px;
}
.theater-choice {
    width: 300px; /* 원하는 너비 설정 */
    height: 450px; /* 원하는 높이 설정 */
    margin-right: 20px;
    margin-right: 20px;
}
.time-choice{
    width: 720px;
}
